/build/
/ClienteAlumno/build/
/ClienteAlumno/nbproject/private/
/ClienteMaestro/build/
/ClienteMaestro/nbproject/private/
/projects/ClienteAlumno/build/
/projects/ClienteAlumno/nbproject/private/
/projects/ClienteMaestro/build/
/projects/ClienteMaestro/nbproject/private/
/Clientes/ClienteAlumno/build/
/Clientes/ClienteAlumno/nbproject/private/
/Clientes/ClienteMaestro/build/
/Clientes/ClienteMaestro/nbproject/private/